@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center>
        <h1 class="display-4">Welcome to Kelvins Superhero Project</h1>
        <img src="~/images/super.png" />
   </center>
</div>
